<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>Insert Form</title>
	</head>
	<body>
		<Form action="/addBoard" method="post">
			Password : <input type="password" name="boardPw" id="Password"> <br><br>
			Title : <input type="text" name="boardTitle" id="Title"> <br><br>
			Content : <input type="text" name="boardContent" id="Content"> <br><br>
			User : <input type="text" name="boardUser" id="User"> <br><br>
			<button type="submit">Submit</button>
		</Form>
	</body>
</html>