<html xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body>
		<div>
			<table border=1>
				<thead>
					<tr>
						<th>boardNo</th>
						<th>boardTitle</th>
						<th>boardUser</th>
						<th>boardDate</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="b : ${map.get('list')}">
						<td th:text="${b.boardNo}"></td>
						<td><a th:href="@{/detailBoard(boardNo=${b.boardNo}, currentPage=${currentPage})}">
								<th:block th:text="${b.boardTitle}"></th:block>
							</a>
						</td>
						<td th:text="${b.boardUser}"></td>
						<td th:text="${b.boardDate}"></td>
					</tr>
				</tbody>
			</table>
				<th:block th:if="${currentPage > 1}">
					<a th:href="@{/boardList(currentPage=1)}">처음</a>
				</th:block>
		        <th:block th:if="${currentPage > 1}">
		            <a th:href="@{/boardList(currentPage=${currentPage-1})}">이전</a>
				</th:block>
		        <th:block th:if="${currentPage < map.get('lastPage')}">
		        	<a th:href="@{/boardList(currentPage=${currentPage+1})}">다음</a>
				</th:block>
				<th:block th:if="${currentPage < map.get('lastPage')}">
		        	<a th:href="@{/boardList(currentPage=${map.get('lastPage')})}">마지막</a>
		        </th:block>
		        <a th:href="@{/addBoard}">작성하기</a>
		</div>
	</body>
</html>